<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <!-- Notebook style -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/github-markdown.css">

    <!-- The main interactive script -->
    <script src="js/interactive.js"></script>

    <!-- Standard library of interactive elements such as buttons, graphs, ... -->
    <script src="js/interactive_elements.js"></script>

</head>
<body>
<div class="markdown-body">
{{ content }}
</div>
</body>
</html>